In [22]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## boolean

* 파이썬에서는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있습니다.
* True나 False는 0과 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True와 False를 사용합니다.

In [ ]:
# True
True

In [ ]:
# False
False

In [ ]:
# True == 1 같음을 표현
True == 1

In [ ]:
# False == 0과 같음을 표현
False == 0

In [ ]:
# 문자 1과 True는 다름
True == '1'

In [ ]:
# 문자열 1과 True는 다름
True != "1"

In [ ]:
# False도 마찬가지
False == '0'

In [ ]:
# 문자열 0과 False는 다름
False != "0"

In [ ]:
# and 연산으로 True 값 끼리 비교
# and는 모든 값이 True 일때만 True가 됨
True and True

In [ ]:
# and는 조건 중 하나라도 False 라면 False가 됨
True and False

In [ ]:
# or는 조건 중 하나만 True 라도 True가 됨
True or False

## Number and String
* 숫자 1과 문자 "1"은 다릅니다. 숫자 1과 문자 1의 데이터 타입을 출력해 보세요.
* 데이터 타입을 표현할 때 type을 통해 데이터를 출력합니다.

In [ ]:
# 숫자 1을 출력
1

In [ ]:
# 문자 1 출력
"1"

In [ ]:
# 숫자 1의 데이터 타입을 출력해 보세요.
type(1)

In [ ]:
# 문자 1의 데이터 타입 출력
type("1")

In [ ]:
# 문자 1 숫자 1 비교
"1" == 1

# String and Lists

In [ ]:
"Hello World!"

In [ ]:
"경기도 성남시 분당구"

## strings

In [ ]:
# til 이라는 변수에 문자열 담기
til = "Today I Learned"
til

In [ ]:
# 모두 소문자로 만들기
til.lower()

In [ ]:
# 모두 대문자로 만들기
til.upper()

## lists

In [2]:
# 비어있는 리스트 만들기 lang 이라는 변수에 담기
lang = []
lang

[]

In [3]:
# python, java, c를 원소에 추가
lang.append("python")
lang.append("java")
lang.append("c")
lang

['python', 'java', 'c']

In [4]:
# lang 이라는 변수에 담겨있는 언어명을 인덱싱을 통해 가져옴
lang[0]

'python'

In [5]:
# 1번 인덱스 가져옴
lang[1]

'java'

In [6]:
# 마지막 인덱스 가져옴
lang[-1]

'c'

## Control Flow
* 제어문 - 조건문, 반복문

In [7]:
# 반복문을 통해 리스트의 원소를 하나씩 출력
for i in lang:
    print(i)

python
java
c

In [9]:
# 위 코드에서 python일 때는 그대로 출력하고 나머지 텍스트는 "기타"라고 출력
# 출력 결과가 아래의 순서로 나오도록 하기
# python
# 기타
# 기타
for i in lang:
    if i == "python":
        print(i)
    else:
        print("기타")

python
기타
기타

In [10]:
# 특정 횟수만큼 반복문 실행
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
# for문과 if문 함께 사용
# 짝수일 때 python을 홀수일 때 java를 출력
for i in range(1, 10):
    if i % 2 == 0:
        print("python")
    else:
        print("java")

java
python
java
python
java
python
java
python
java

In [12]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있음
for i, val in enumerate(lang):
    print(i, val)

0 python
1 java
2 c

## 문자열

In [13]:
address = " 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 "
address

' 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 '

In [14]:
# 앞뒤 공백을 제거
# 데이터 전처리 시 주로 사용
address = address.strip()
address

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [15]:
# 문자열의 길이
len(address)

33

In [17]:
# 공백으로 문자열 분리
address_list = address.split()
address_list

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [18]:
len(address_list)

8

* 슬라이싱, startswith, in을 통해 문자열에 경기가 있는지 확인하기

In [20]:
# 슬라이싱으로 문자 가져오기
address[:2]

'경기'

In [24]:
# startswith 를 사용하면 특정 문자가 포함되는지 여부를 확인 가능
address.startswith("경기")

True

In [26]:
# in 을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인 가능
"경기" in address

True

## 리스트
* 문자열에서 쓰는 방법과 비슷하게 메소드 등을 사용 가능
* 차이를 비교해 보자.

In [27]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 구를 가져와 gu 라는 변수에 할당
address_list[2]

'분당구'

In [28]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 도로명을 가져와 street 이라는 변수에 할당
address_list[3]

'불정로'

In [29]:
# 리스트의 마지막 가져오기
address_list[-1]

'16층'

In [31]:
# " ".join(리스트) 를 사용하면 리스트를 공백 문자열을 연결 가능
# 리스트로 분리된 문자열을 다시 연결
" ".join(address_list)

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [34]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부 확인 가능
# "경기"가 리스트에 포함되는지 확인
# "경기" in address_list
"경기도" in address_list

True

In [35]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부 확인 가능
# "분당구"가 리스트에 포함되는지 확인
"분당구" in address_list

True